.footer-style {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #0e0e0e;
  color: #0ef;
  font-size: 14px;
}
@media (max-width: 600px) {
  .footer-style {
    font-size: 12px;
  }
}
