body {
  background: radial-gradient(circle at top left, rgba(0, 238, 255, 0.2), transparent 70%), #081b29;
  min-height: 100vh;
}
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
}
html,
body {
  scroll-behavior: auto !important;
}
@media (max-width: 600px) {
  body {
    background: #081b29;
  }
}
