/* #################################################################################################3 */
.whole-jobspage {
  margin-top: 1rem;
}
.heading-jobspage {
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: clamp(1.4rem, 4vw, 2rem);
}
.search-container {
  margin-top: 1rem;
  text-align: center;
}
.search-input {
  padding: 1rem;
  background: none;
  border: none;
  outline: none;
  border: 1px solid #0ef;
  color: #fff;
  font-size: clamp(16px, 2vw, 24px);
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 50%;
}
.search-input::placeholder {
  color: lightgray;
  font-size: 16px;
}
.wrapper {
  width: min(900px, 100%-3rem);
  margin-inline: auto;
  /* font-family: "Poppins", sans-serif; */
}
.jb-table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.05);
  font-size: clamp(0.875rem, 2.5vw, 1.125rem);
  letter-spacing: 0.4px;

  color: white;
}
.jb-table-th,
.jb-table-td {
  padding: 1rem;
}
.jb-table-th {
  text-align: left;
  border-bottom: 1px solid #0ef;
}
.jb-table-tr:nth-of-type(n) {
  border-bottom: 1px solid #0ef;
}

.jobspage-link {
  color: #0ef;
}
.jobspage-wholebtn {
  margin-top: 1rem;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 80px;
}
.prevnext-btn {
  width: 100px;
  background: linear-gradient(90deg, #00ffcc, #0099ff);
  color: black;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-right: 1rem;
}

.prevnext-btn:hover {
  background: linear-gradient(90deg, #0099ff, #00ffcc);
  transform: translateY(-2px);
  box-shadow: 0 0 15px #0ef;
}
.postbtn-jobspage {
  width: 100px;
  background: linear-gradient(90deg, yellowgreen, lightgreen);
  color: black;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: 1rem;
}

.postbtn-jobspage:hover {
  background: linear-gradient(90deg, #0099ff, #00ffcc);
  transform: translateY(-2px);
  box-shadow: 0 0 15px #0ef;
}
.jobs-subtext {
  color: #aaa;
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}
.lb-btn-container {
  text-align: right;
  padding-bottom: 0.5rem;
}
.lb-btn {
  width: 10%;
  background: linear-gradient(90deg, #00ffcc, #0099ff);
  color: black;
  border: none;
  outline: none;
  padding: 12px 0;
  font-size: clamp(14px, 1.2vw, 18px);
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
@media (max-width: 900px) {
  .lb-btn {
    width: 130px;
    padding: 8px;
  }
}
@media (max-width: 700px) {
  .heading-jobspage {
    padding-top: 0;
  }
  .search-input {
    height: 5px;
  }
  .search-input::placeholder {
    font-size: clamp(12px, 1.5vw, 18px);
  }
  .jb-table {
    width: 100%;
  }
  .jb-table-th {
    display: none;
  }

  .jb-table-td:first-child {
    padding-top: 2rem !important;
  }
  .jb-table-td:last-child {
    padding-bottom: 2rem !important;
  }
  .jb-table-td {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 15ch auto;
    padding: 0.5rem 1rem !important;
  }
  .jb-table-td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
  .prevnext-btn {
    width: 70px;
    font-size: 12px;
  }
  .postbtn-jobspage {
    width: 70px;
    font-size: 12px;
  }
  .jobs-subtext {
    font-size: 14px;
  }
  .lb-btn-container {
    text-align: center;
    padding-bottom: 0.5rem;
  }
}
